#custom-mediaplayer.perc0-0 {
    background-image: linear-gradient(to right, #66cc99 0%, #2d3436 0.1%);
}
#custom-mediaplayer.perc1-0 {
    background-image: linear-gradient(to right, #66cc99 1%, #2d3436 1.1%);
}
#custom-mediaplayer.perc2-0 {
    background-image: linear-gradient(to right, #66cc99 2%, #2d3436 2.1%);
}
#custom-mediaplayer.perc3-0 {
    background-image: linear-gradient(to right, #66cc99 3%, #2d3436 3.1%);
}
#custom-mediaplayer.perc4-0 {
    background-image: linear-gradient(to right, #66cc99 4%, #2d3436 4.1%);
}
#custom-mediaplayer.perc5-0 {
    background-image: linear-gradient(to right, #66cc99 5%, #2d3436 5.1%);
}
#custom-mediaplayer.perc6-0 {
    background-image: linear-gradient(to right, #66cc99 6%, #2d3436 6.1%);
}
#custom-mediaplayer.perc7-0 {
    background-image: linear-gradient(to right, #66cc99 7%, #2d3436 7.1%);
}
#custom-mediaplayer.perc8-0 {
    background-image: linear-gradient(to right, #66cc99 8%, #2d3436 8.1%);
}
#custom-mediaplayer.perc9-0 {
    background-image: linear-gradient(to right, #66cc99 9%, #2d3436 9.1%);
}
#custom-mediaplayer.perc10-0 {
    background-image: linear-gradient(to right, #66cc99 10%, #2d3436 10.1%);
}
#custom-mediaplayer.perc11-0 {
    background-image: linear-gradient(to right, #66cc99 11%, #2d3436 11.1%);
}
#custom-mediaplayer.perc12-0 {
    background-image: linear-gradient(to right, #66cc99 12%, #2d3436 12.1%);
}
#custom-mediaplayer.perc13-0 {
    background-image: linear-gradient(to right, #66cc99 13%, #2d3436 13.1%);
}
#custom-mediaplayer.perc14-0 {
    background-image: linear-gradient(to right, #66cc99 14%, #2d3436 14.1%);
}
#custom-mediaplayer.perc15-0 {
    background-image: linear-gradient(to right, #66cc99 15%, #2d3436 15.1%);
}
#custom-mediaplayer.perc16-0 {
    background-image: linear-gradient(to right, #66cc99 16%, #2d3436 16.1%);
}
#custom-mediaplayer.perc17-0 {
    background-image: linear-gradient(to right, #66cc99 17%, #2d3436 17.1%);
}
#custom-mediaplayer.perc18-0 {
    background-image: linear-gradient(to right, #66cc99 18%, #2d3436 18.1%);
}
#custom-mediaplayer.perc19-0 {
    background-image: linear-gradient(to right, #66cc99 19%, #2d3436 19.1%);
}
#custom-mediaplayer.perc20-0 {
    background-image: linear-gradient(to right, #66cc99 20%, #2d3436 20.1%);
}
#custom-mediaplayer.perc21-0 {
    background-image: linear-gradient(to right, #66cc99 21%, #2d3436 21.1%);
}
#custom-mediaplayer.perc22-0 {
    background-image: linear-gradient(to right, #66cc99 22%, #2d3436 22.1%);
}
#custom-mediaplayer.perc23-0 {
    background-image: linear-gradient(to right, #66cc99 23%, #2d3436 23.1%);
}
#custom-mediaplayer.perc24-0 {
    background-image: linear-gradient(to right, #66cc99 24%, #2d3436 24.1%);
}
#custom-mediaplayer.perc25-0 {
    background-image: linear-gradient(to right, #66cc99 25%, #2d3436 25.1%);
}
#custom-mediaplayer.perc26-0 {
    background-image: linear-gradient(to right, #66cc99 26%, #2d3436 26.1%);
}
#custom-mediaplayer.perc27-0 {
    background-image: linear-gradient(to right, #66cc99 27%, #2d3436 27.1%);
}
#custom-mediaplayer.perc28-0 {
    background-image: linear-gradient(to right, #66cc99 28%, #2d3436 28.1%);
}
#custom-mediaplayer.perc29-0 {
    background-image: linear-gradient(to right, #66cc99 29%, #2d3436 29.1%);
}
#custom-mediaplayer.perc30-0 {
    background-image: linear-gradient(to right, #66cc99 30%, #2d3436 30.1%);
}
#custom-mediaplayer.perc31-0 {
    background-image: linear-gradient(to right, #66cc99 31%, #2d3436 31.1%);
}
#custom-mediaplayer.perc32-0 {
    background-image: linear-gradient(to right, #66cc99 32%, #2d3436 32.1%);
}
#custom-mediaplayer.perc33-0 {
    background-image: linear-gradient(to right, #66cc99 33%, #2d3436 33.1%);
}
#custom-mediaplayer.perc34-0 {
    background-image: linear-gradient(to right, #66cc99 34%, #2d3436 34.1%);
}
#custom-mediaplayer.perc35-0 {
    background-image: linear-gradient(to right, #66cc99 35%, #2d3436 35.1%);
}
#custom-mediaplayer.perc36-0 {
    background-image: linear-gradient(to right, #66cc99 36%, #2d3436 36.1%);
}
#custom-mediaplayer.perc37-0 {
    background-image: linear-gradient(to right, #66cc99 37%, #2d3436 37.1%);
}
#custom-mediaplayer.perc38-0 {
    background-image: linear-gradient(to right, #66cc99 38%, #2d3436 38.1%);
}
#custom-mediaplayer.perc39-0 {
    background-image: linear-gradient(to right, #66cc99 39%, #2d3436 39.1%);
}
#custom-mediaplayer.perc40-0 {
    background-image: linear-gradient(to right, #66cc99 40%, #2d3436 40.1%);
}
#custom-mediaplayer.perc41-0 {
    background-image: linear-gradient(to right, #66cc99 41%, #2d3436 41.1%);
}
#custom-mediaplayer.perc42-0 {
    background-image: linear-gradient(to right, #66cc99 42%, #2d3436 42.1%);
}
#custom-mediaplayer.perc43-0 {
    background-image: linear-gradient(to right, #66cc99 43%, #2d3436 43.1%);
}
#custom-mediaplayer.perc44-0 {
    background-image: linear-gradient(to right, #66cc99 44%, #2d3436 44.1%);
}
#custom-mediaplayer.perc45-0 {
    background-image: linear-gradient(to right, #66cc99 45%, #2d3436 45.1%);
}
#custom-mediaplayer.perc46-0 {
    background-image: linear-gradient(to right, #66cc99 46%, #2d3436 46.1%);
}
#custom-mediaplayer.perc47-0 {
    background-image: linear-gradient(to right, #66cc99 47%, #2d3436 47.1%);
}
#custom-mediaplayer.perc48-0 {
    background-image: linear-gradient(to right, #66cc99 48%, #2d3436 48.1%);
}
#custom-mediaplayer.perc49-0 {
    background-image: linear-gradient(to right, #66cc99 49%, #2d3436 49.1%);
}
#custom-mediaplayer.perc50-0 {
    background-image: linear-gradient(to right, #66cc99 50%, #2d3436 50.1%);
}
#custom-mediaplayer.perc51-0 {
    background-image: linear-gradient(to right, #66cc99 51%, #2d3436 51.1%);
}
#custom-mediaplayer.perc52-0 {
    background-image: linear-gradient(to right, #66cc99 52%, #2d3436 52.1%);
}
#custom-mediaplayer.perc53-0 {
    background-image: linear-gradient(to right, #66cc99 53%, #2d3436 53.1%);
}
#custom-mediaplayer.perc54-0 {
    background-image: linear-gradient(to right, #66cc99 54%, #2d3436 54.1%);
}
#custom-mediaplayer.perc55-0 {
    background-image: linear-gradient(to right, #66cc99 55%, #2d3436 55.1%);
}
#custom-mediaplayer.perc56-0 {
    background-image: linear-gradient(to right, #66cc99 56%, #2d3436 56.1%);
}
#custom-mediaplayer.perc57-0 {
    background-image: linear-gradient(to right, #66cc99 57%, #2d3436 57.1%);
}
#custom-mediaplayer.perc58-0 {
    background-image: linear-gradient(to right, #66cc99 58%, #2d3436 58.1%);
}
#custom-mediaplayer.perc59-0 {
    background-image: linear-gradient(to right, #66cc99 59%, #2d3436 59.1%);
}
#custom-mediaplayer.perc60-0 {
    background-image: linear-gradient(to right, #66cc99 60%, #2d3436 60.1%);
}
#custom-mediaplayer.perc61-0 {
    background-image: linear-gradient(to right, #66cc99 61%, #2d3436 61.1%);
}
#custom-mediaplayer.perc62-0 {
    background-image: linear-gradient(to right, #66cc99 62%, #2d3436 62.1%);
}
#custom-mediaplayer.perc63-0 {
    background-image: linear-gradient(to right, #66cc99 63%, #2d3436 63.1%);
}
#custom-mediaplayer.perc64-0 {
    background-image: linear-gradient(to right, #66cc99 64%, #2d3436 64.1%);
}
#custom-mediaplayer.perc65-0 {
    background-image: linear-gradient(to right, #66cc99 65%, #2d3436 65.1%);
}
#custom-mediaplayer.perc66-0 {
    background-image: linear-gradient(to right, #66cc99 66%, #2d3436 66.1%);
}
#custom-mediaplayer.perc67-0 {
    background-image: linear-gradient(to right, #66cc99 67%, #2d3436 67.1%);
}
#custom-mediaplayer.perc68-0 {
    background-image: linear-gradient(to right, #66cc99 68%, #2d3436 68.1%);
}
#custom-mediaplayer.perc69-0 {
    background-image: linear-gradient(to right, #66cc99 69%, #2d3436 69.1%);
}
#custom-mediaplayer.perc70-0 {
    background-image: linear-gradient(to right, #66cc99 70%, #2d3436 70.1%);
}
#custom-mediaplayer.perc71-0 {
    background-image: linear-gradient(to right, #66cc99 71%, #2d3436 71.1%);
}
#custom-mediaplayer.perc72-0 {
    background-image: linear-gradient(to right, #66cc99 72%, #2d3436 72.1%);
}
#custom-mediaplayer.perc73-0 {
    background-image: linear-gradient(to right, #66cc99 73%, #2d3436 73.1%);
}
#custom-mediaplayer.perc74-0 {
    background-image: linear-gradient(to right, #66cc99 74%, #2d3436 74.1%);
}
#custom-mediaplayer.perc75-0 {
    background-image: linear-gradient(to right, #66cc99 75%, #2d3436 75.1%);
}
#custom-mediaplayer.perc76-0 {
    background-image: linear-gradient(to right, #66cc99 76%, #2d3436 76.1%);
}
#custom-mediaplayer.perc77-0 {
    background-image: linear-gradient(to right, #66cc99 77%, #2d3436 77.1%);
}
#custom-mediaplayer.perc78-0 {
    background-image: linear-gradient(to right, #66cc99 78%, #2d3436 78.1%);
}
#custom-mediaplayer.perc79-0 {
    background-image: linear-gradient(to right, #66cc99 79%, #2d3436 79.1%);
}
#custom-mediaplayer.perc80-0 {
    background-image: linear-gradient(to right, #66cc99 80%, #2d3436 80.1%);
}
#custom-mediaplayer.perc81-0 {
    background-image: linear-gradient(to right, #66cc99 81%, #2d3436 81.1%);
}
#custom-mediaplayer.perc82-0 {
    background-image: linear-gradient(to right, #66cc99 82%, #2d3436 82.1%);
}
#custom-mediaplayer.perc83-0 {
    background-image: linear-gradient(to right, #66cc99 83%, #2d3436 83.1%);
}
#custom-mediaplayer.perc84-0 {
    background-image: linear-gradient(to right, #66cc99 84%, #2d3436 84.1%);
}
#custom-mediaplayer.perc85-0 {
    background-image: linear-gradient(to right, #66cc99 85%, #2d3436 85.1%);
}
#custom-mediaplayer.perc86-0 {
    background-image: linear-gradient(to right, #66cc99 86%, #2d3436 86.1%);
}
#custom-mediaplayer.perc87-0 {
    background-image: linear-gradient(to right, #66cc99 87%, #2d3436 87.1%);
}
#custom-mediaplayer.perc88-0 {
    background-image: linear-gradient(to right, #66cc99 88%, #2d3436 88.1%);
}
#custom-mediaplayer.perc89-0 {
    background-image: linear-gradient(to right, #66cc99 89%, #2d3436 89.1%);
}
#custom-mediaplayer.perc90-0 {
    background-image: linear-gradient(to right, #66cc99 90%, #2d3436 90.1%);
}
#custom-mediaplayer.perc91-0 {
    background-image: linear-gradient(to right, #66cc99 91%, #2d3436 91.1%);
}
#custom-mediaplayer.perc92-0 {
    background-image: linear-gradient(to right, #66cc99 92%, #2d3436 92.1%);
}
#custom-mediaplayer.perc93-0 {
    background-image: linear-gradient(to right, #66cc99 93%, #2d3436 93.1%);
}
#custom-mediaplayer.perc94-0 {
    background-image: linear-gradient(to right, #66cc99 94%, #2d3436 94.1%);
}
#custom-mediaplayer.perc95-0 {
    background-image: linear-gradient(to right, #66cc99 95%, #2d3436 95.1%);
}
#custom-mediaplayer.perc96-0 {
    background-image: linear-gradient(to right, #66cc99 96%, #2d3436 96.1%);
}
#custom-mediaplayer.perc97-0 {
    background-image: linear-gradient(to right, #66cc99 97%, #2d3436 97.1%);
}
#custom-mediaplayer.perc98-0 {
    background-image: linear-gradient(to right, #66cc99 98%, #2d3436 98.1%);
}
#custom-mediaplayer.perc99-0 {
    background-image: linear-gradient(to right, #66cc99 99%, #2d3436 99.1%);
}
#custom-mediaplayer.perc100-0 {
    background-image: linear-gradient(to right, #66cc99 100%, #2d3436 100.1%);
}
