#custom-mediaplayer.perc0-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 0.0%,
    #2D3436 0.1%
    );
}
#custom-mediaplayer.perc1-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 1.0%,
    #2D3436 1.1%
    );
}
#custom-mediaplayer.perc2-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 2.0%,
    #2D3436 2.1%
    );
}
#custom-mediaplayer.perc3-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 3.0%,
    #2D3436 3.1%
    );
}
#custom-mediaplayer.perc4-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 4.0%,
    #2D3436 4.1%
    );
}
#custom-mediaplayer.perc5-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 5.0%,
    #2D3436 5.1%
    );
}
#custom-mediaplayer.perc6-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 6.0%,
    #2D3436 6.1%
    );
}
#custom-mediaplayer.perc7-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 7.0%,
    #2D3436 7.1%
    );
}
#custom-mediaplayer.perc8-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 8.0%,
    #2D3436 8.1%
    );
}
#custom-mediaplayer.perc9-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 9.0%,
    #2D3436 9.1%
    );
}
#custom-mediaplayer.perc10-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 10.0%,
    #2D3436 10.1%
    );
}
#custom-mediaplayer.perc11-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 11.0%,
    #2D3436 11.1%
    );
}
#custom-mediaplayer.perc12-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 12.0%,
    #2D3436 12.1%
    );
}
#custom-mediaplayer.perc13-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 13.0%,
    #2D3436 13.1%
    );
}
#custom-mediaplayer.perc14-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 14.0%,
    #2D3436 14.1%
    );
}
#custom-mediaplayer.perc15-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 15.0%,
    #2D3436 15.1%
    );
}
#custom-mediaplayer.perc16-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 16.0%,
    #2D3436 16.1%
    );
}
#custom-mediaplayer.perc17-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 17.0%,
    #2D3436 17.1%
    );
}
#custom-mediaplayer.perc18-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 18.0%,
    #2D3436 18.1%
    );
}
#custom-mediaplayer.perc19-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 19.0%,
    #2D3436 19.1%
    );
}
#custom-mediaplayer.perc20-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 20.0%,
    #2D3436 20.1%
    );
}
#custom-mediaplayer.perc21-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 21.0%,
    #2D3436 21.1%
    );
}
#custom-mediaplayer.perc22-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 22.0%,
    #2D3436 22.1%
    );
}
#custom-mediaplayer.perc23-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 23.0%,
    #2D3436 23.1%
    );
}
#custom-mediaplayer.perc24-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 24.0%,
    #2D3436 24.1%
    );
}
#custom-mediaplayer.perc25-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 25.0%,
    #2D3436 25.1%
    );
}
#custom-mediaplayer.perc26-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 26.0%,
    #2D3436 26.1%
    );
}
#custom-mediaplayer.perc27-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 27.0%,
    #2D3436 27.1%
    );
}
#custom-mediaplayer.perc28-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 28.0%,
    #2D3436 28.1%
    );
}
#custom-mediaplayer.perc29-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 29.0%,
    #2D3436 29.1%
    );
}
#custom-mediaplayer.perc30-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 30.0%,
    #2D3436 30.1%
    );
}
#custom-mediaplayer.perc31-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 31.0%,
    #2D3436 31.1%
    );
}
#custom-mediaplayer.perc32-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 32.0%,
    #2D3436 32.1%
    );
}
#custom-mediaplayer.perc33-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 33.0%,
    #2D3436 33.1%
    );
}
#custom-mediaplayer.perc34-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 34.0%,
    #2D3436 34.1%
    );
}
#custom-mediaplayer.perc35-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 35.0%,
    #2D3436 35.1%
    );
}
#custom-mediaplayer.perc36-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 36.0%,
    #2D3436 36.1%
    );
}
#custom-mediaplayer.perc37-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 37.0%,
    #2D3436 37.1%
    );
}
#custom-mediaplayer.perc38-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 38.0%,
    #2D3436 38.1%
    );
}
#custom-mediaplayer.perc39-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 39.0%,
    #2D3436 39.1%
    );
}
#custom-mediaplayer.perc40-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 40.0%,
    #2D3436 40.1%
    );
}
#custom-mediaplayer.perc41-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 41.0%,
    #2D3436 41.1%
    );
}
#custom-mediaplayer.perc42-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 42.0%,
    #2D3436 42.1%
    );
}
#custom-mediaplayer.perc43-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 43.0%,
    #2D3436 43.1%
    );
}
#custom-mediaplayer.perc44-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 44.0%,
    #2D3436 44.1%
    );
}
#custom-mediaplayer.perc45-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 45.0%,
    #2D3436 45.1%
    );
}
#custom-mediaplayer.perc46-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 46.0%,
    #2D3436 46.1%
    );
}
#custom-mediaplayer.perc47-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 47.0%,
    #2D3436 47.1%
    );
}
#custom-mediaplayer.perc48-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 48.0%,
    #2D3436 48.1%
    );
}
#custom-mediaplayer.perc49-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 49.0%,
    #2D3436 49.1%
    );
}
#custom-mediaplayer.perc50-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 50.0%,
    #2D3436 50.1%
    );
}
#custom-mediaplayer.perc51-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 51.0%,
    #2D3436 51.1%
    );
}
#custom-mediaplayer.perc52-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 52.0%,
    #2D3436 52.1%
    );
}
#custom-mediaplayer.perc53-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 53.0%,
    #2D3436 53.1%
    );
}
#custom-mediaplayer.perc54-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 54.0%,
    #2D3436 54.1%
    );
}
#custom-mediaplayer.perc55-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 55.0%,
    #2D3436 55.1%
    );
}
#custom-mediaplayer.perc56-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 56.0%,
    #2D3436 56.1%
    );
}
#custom-mediaplayer.perc57-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 57.0%,
    #2D3436 57.1%
    );
}
#custom-mediaplayer.perc58-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 58.0%,
    #2D3436 58.1%
    );
}
#custom-mediaplayer.perc59-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 59.0%,
    #2D3436 59.1%
    );
}
#custom-mediaplayer.perc60-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 60.0%,
    #2D3436 60.1%
    );
}
#custom-mediaplayer.perc61-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 61.0%,
    #2D3436 61.1%
    );
}
#custom-mediaplayer.perc62-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 62.0%,
    #2D3436 62.1%
    );
}
#custom-mediaplayer.perc63-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 63.0%,
    #2D3436 63.1%
    );
}
#custom-mediaplayer.perc64-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 64.0%,
    #2D3436 64.1%
    );
}
#custom-mediaplayer.perc65-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 65.0%,
    #2D3436 65.1%
    );
}
#custom-mediaplayer.perc66-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 66.0%,
    #2D3436 66.1%
    );
}
#custom-mediaplayer.perc67-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 67.0%,
    #2D3436 67.1%
    );
}
#custom-mediaplayer.perc68-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 68.0%,
    #2D3436 68.1%
    );
}
#custom-mediaplayer.perc69-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 69.0%,
    #2D3436 69.1%
    );
}
#custom-mediaplayer.perc70-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 70.0%,
    #2D3436 70.1%
    );
}
#custom-mediaplayer.perc71-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 71.0%,
    #2D3436 71.1%
    );
}
#custom-mediaplayer.perc72-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 72.0%,
    #2D3436 72.1%
    );
}
#custom-mediaplayer.perc73-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 73.0%,
    #2D3436 73.1%
    );
}
#custom-mediaplayer.perc74-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 74.0%,
    #2D3436 74.1%
    );
}
#custom-mediaplayer.perc75-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 75.0%,
    #2D3436 75.1%
    );
}
#custom-mediaplayer.perc76-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 76.0%,
    #2D3436 76.1%
    );
}
#custom-mediaplayer.perc77-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 77.0%,
    #2D3436 77.1%
    );
}
#custom-mediaplayer.perc78-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 78.0%,
    #2D3436 78.1%
    );
}
#custom-mediaplayer.perc79-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 79.0%,
    #2D3436 79.1%
    );
}
#custom-mediaplayer.perc80-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 80.0%,
    #2D3436 80.1%
    );
}
#custom-mediaplayer.perc81-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 81.0%,
    #2D3436 81.1%
    );
}
#custom-mediaplayer.perc82-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 82.0%,
    #2D3436 82.1%
    );
}
#custom-mediaplayer.perc83-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 83.0%,
    #2D3436 83.1%
    );
}
#custom-mediaplayer.perc84-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 84.0%,
    #2D3436 84.1%
    );
}
#custom-mediaplayer.perc85-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 85.0%,
    #2D3436 85.1%
    );
}
#custom-mediaplayer.perc86-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 86.0%,
    #2D3436 86.1%
    );
}
#custom-mediaplayer.perc87-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 87.0%,
    #2D3436 87.1%
    );
}
#custom-mediaplayer.perc88-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 88.0%,
    #2D3436 88.1%
    );
}
#custom-mediaplayer.perc89-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 89.0%,
    #2D3436 89.1%
    );
}
#custom-mediaplayer.perc90-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 90.0%,
    #2D3436 90.1%
    );
}
#custom-mediaplayer.perc91-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 91.0%,
    #2D3436 91.1%
    );
}
#custom-mediaplayer.perc92-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 92.0%,
    #2D3436 92.1%
    );
}
#custom-mediaplayer.perc93-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 93.0%,
    #2D3436 93.1%
    );
}
#custom-mediaplayer.perc94-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 94.0%,
    #2D3436 94.1%
    );
}
#custom-mediaplayer.perc95-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 95.0%,
    #2D3436 95.1%
    );
}
#custom-mediaplayer.perc96-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 96.0%,
    #2D3436 96.1%
    );
}
#custom-mediaplayer.perc97-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 97.0%,
    #2D3436 97.1%
    );
}
#custom-mediaplayer.perc98-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 98.0%,
    #2D3436 98.1%
    );
}
#custom-mediaplayer.perc99-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 99.0%,
    #2D3436 99.1%
    );
}
#custom-mediaplayer.perc100-0 {
    background-image: linear-gradient(
    to right,
    #66CC99 100.0%,
    #2D3436 100.1%
    );
}
